:host() {
  user-select: none;
}

.clr-vertical-nav {
  height: 100%;
}

.nav-menu-subtitle {
  font-size: 18px;
  color: #ffffff;
  padding: 15px 0 5px 15px;
  border-top: 0.5px solid #808080;
  color: #808080;
  font-family: CiscoSansTTRegular;
}
