input[type="file"]::-webkit-file-upload-button {
  border-radius: 20px;
  background-color: #2E2E2E;
  border:none;
  color: white;
  font-family: CiscoSansTTLight;
  padding: 7px 15px 4px 15px;
  font-size: 14px;
  cursor: pointer;
}

input[type="file"][disabled]::-webkit-file-upload-button {
  background-color: #2E2E2E !important;
  border-color: #2E2E2E !important;
  color: #000000 !important;
  cursor: not-allowed;
}

input[type="file"]::-webkit-file-upload-button:focus {
  outline: none;
}

label, .inputfiles {
  font-size: 17px !important;
  color: #ffffff !important;
}

option[value=""][disabled] {
  display: none;
}
