#portSelectionNav {
    position: absolute;
    margin-left: 30px;
    margin-top: -30px;
}

#portSelectionNav a {
    color: #808080 !important;
}

#portSelectionNav a:hover {
    color: #ffffff !important;
    background-color: rgba(0,113,175,0.50) !important;
}
