<div class="clr-row">
  <div class="clr-col-lg-7">
    <h2 class="elementPropertyValue elementLabel">{{ element.label }}</h2>
  </div>
  <div class="clr-col-lg-5 text-right">
    <button class="btn btn-icon btn-link" (click)="openEditNodeDialog(element)">
      <clr-icon shape="pencil" class="is-solid"></clr-icon>
    </button>
    <button class="btn btn-icon btn-link" (click)="removeElement()">
      <clr-icon shape="trash" class="is-solid"></clr-icon>
    </button>
  </div>
</div>

<div class="clr-row error-list" *ngIf="element.isValidationError()">
  <div class="clr-col-lg-12">
    <div class="clr-row flex-align-center error-title-wrap">
      <div class="clr-col-lg-1">
        <img src="/assets/images/error-standard-line.svg" width="34" height="34" alt="icon">
      </div>
      <div class="clr-col-lg-11 error-title" [ngPlural]="element.errorsList.length">
        <ng-template ngPluralCase="=1">
          1 validation error. Try fixing the issue and validate again.
        </ng-template>
        <ng-template ngPluralCase="other">
          {{ element.errorsList.length }} validation errors. Try fixing the issues and validate again.
        </ng-template>
      </div>
    </div>
    <hr>
    <div class="clr-row" *ngFor="let error of element.errorsList">
      <div class="clr-col-lg-12 error-item">{{ error }}</div>
    </div>
  </div>
</div>

<div class="clr-row">
  <div class="elementIcon clr-col-lg-4 relative">
    <img alt="icon" class="toolbar-item-icon"
      src=" {{ element.isValidationError() ? getIcon(element.icon) : element.icon }}" width="73" height="73">
  </div>

  <div class="elementInfo column clr-col-lg-8">
    <div class="clr-row">
      <div>
        <span>
          <span class="elementPropertyName">Type: </span>
          <span class="elementPropertyValue">{{ element.category }}</span><br>
        </span>
        <span class="elementPropertyName">ID: </span>
        <span class="elementPropertyValue">{{ element.id | textShorten:15 }}</span><br>
        <span>
          <span class="elementPropertyName">IP: </span>
          <span class="elementPropertyValue">{{ element.IP }}</span><br>
          <span class="elementPropertyName">MAC: </span>
          <span class="elementPropertyValue">{{ element.MAC }}</span><br>
        </span>
      </div>
    </div>
  </div>
</div>

<app-title-toolbox
  *ngIf="element.ports.length"
  [title]="'Ports'"
  [addProperty]=""
  [editProperty]="element"
  [editDialog]="portsDialog"
  [showAdd]="false"
  [showEdit]="false"
  [showDelete]="false"
  [active]="true">
</app-title-toolbox>
<div *ngIf="element.ports.length">
  <clr-datagrid>
    <clr-dg-column>Port</clr-dg-column>
    <clr-dg-column>Port Type</clr-dg-column>
    <clr-dg-column>Bandwidth</clr-dg-column>
    <clr-dg-column>Node</clr-dg-column>

    <clr-dg-row *clrDgItems="let port of element.ports"
      (mouseover)="onPortHover(port.getNodeId(), port.getLinkId())"
      (mouseout)="onPortOut()">
      <clr-dg-cell>{{port.id}}</clr-dg-cell>
      <clr-dg-cell>{{port.portType}}</clr-dg-cell>
      <clr-dg-cell>{{port.bandwidth | bandwidth}}</clr-dg-cell>
      <clr-dg-cell>{{port.getNodeLabel()}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>

<app-edit-ports-dialog
  [item]="element"
  [itemsArray]="element.ports"
  #portsDialog
  (itemEdited)="onPortsEdited()">
</app-edit-ports-dialog>
